body
{
    background: url(../images/GameBackground.jpg);
    background-size: cover; 
    padding: 0;
    margin: 0 auto;
    width: 1148px;
}
#scoreBoard
{
    font-size: 3em;
    display: inline;
    color: #fff;
    text-align: center;
}
#LuffyScore
{
    margin-left: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#remainingTime
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 75px;
}
.scoreItem
{
    float: left;
    background: #834705;
    padding: 15px;
}
main
{
    margin-top: 42px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 1150px;
    height: 800px;
    overflow: hidden;
}
/* Cover CSS*/
#Cover
{
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    border-radius: 4px;
    z-index: 20;
    visibility: hidden;
}
#CoverBG
{
    position: relative;
    z-index: 22;

}
#CoverLogo
{
    position: absolute;
    z-index: 24;
    left: 400px;
    top: 10px;
}
#CLine1
{
    position: absolute;
    z-index: 24;
    left: 400px;
    top: 200px;
    font-size: 5em;
    color: #a74f04;
    text-shadow: 5px 5px rgba(16, 16, 16, 0.96);
    background: rgba(241, 241, 241, 0.49);
}
#highscore
{
    position: absolute;
    z-index: 24;
    left: 600px;
    top: 300px;
    font-size: 4em;
    color: #a74f04;
    text-shadow: 5px 5px rgba(16, 16, 16, 0.96);
}
#playButton
{
    position: absolute;
    z-index: 24;
    left: 400px;
    top: 400px;
    font-size: 3em;
    color: #fff;
    stroke: #000;
    height:75px;
    width: 300px;
    border-radius: 5px;
    background: #a19906;
    opacity:0;
}



/* Canvas CSS*/
canvas 
{
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    border-radius: 4px;
}
#cloudCanvas 
{
    background: url(../../images/Sky-Background.png);  
}
#backgroundCanvas 
{
    background: url(../../images/Ship-Cutout.png);  
}
#gameCanvas
{
    z-index: 13;
}
a
{
    color: #fff;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
a.button
{
    background: #185da8;
    border-radius: 5px;
    display: block;
    font-size: 30px;
    margin: 40px 0 0 270px;
    padding: 10px;
    width: 200px;
}
a.button:hover
{
    background: #2488f5;
    color: #fff;
    text-decoration: none;
}
